*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.links-container{
    display: flex;
}

.nav-link, .cartWidget{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.cartWidget{
    cursor:pointer; 
    cursor: hand;
}

.item-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}