.dark-mode-bckg{
    background-color: #393E46;
}

.dark-mode-elmnt{
    background-color: hsl(210, 13%, 22%)
}

.dark-mode-text{
    color: #EEEEEE;
}
  


.light-mode-bckg{
background-color: #F5F5F5;
}

.light-mode-elmnt{
    background-color: hsl(0, 0%, 100%);
}  

.ligth-mode-input{
    background-color: hsl(0, 0%, 52%);
}

.light-mode-text{
    color: hsl(200, 15%, 8%);
}

.light-mode-blue-text{
    color: #303481;
}